buttonOnOff.json
[
    {
        "id": "7e5a6b2aa84813c3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fe97e65874763518",
        "type": "inject",
        "z": "7e5a6b2aa84813c3",
        "name": "on",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 70,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "7b122477b3bee089",
        "type": "debug",
        "z": "7e5a6b2aa84813c3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 180,
        "wires": []
    },
    {
        "id": "e32d3e11dcd5ef68",
        "type": "rpi-gpio out",
        "z": "7e5a6b2aa84813c3",
        "name": "",
        "pin": "21",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 820,
        "y": 240,
        "wires": []
    },
    {
        "id": "ddb463481427d4ec",
        "type": "inject",
        "z": "7e5a6b2aa84813c3",
        "name": "off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "0",
        "payload": "",
        "payloadType": "num",
        "x": 70,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "e96aabc4345a365b",
        "type": "rpi-gpio in",
        "z": "7e5a6b2aa84813c3",
        "name": "",
        "pin": "18",
        "intype": "tri",
        "debounce": "100",
        "read": false,
        "bcm": true,
        "x": 70,
        "y": 200,
        "wires": [
            []
        ],
        "outputLabels": [
            "1"
        ]
    },
    {
        "id": "87ae11925a74338a",
        "type": "switch",
        "z": "7e5a6b2aa84813c3",
        "name": "if input is 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "cc0ef25bc8b04711"
            ],
            [
                "f2c617e9e5899561"
            ]
        ]
    },
    {
        "id": "cc0ef25bc8b04711",
        "type": "change",
        "z": "7e5a6b2aa84813c3",
        "name": "change to zero",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 180,
        "wires": [
            [
                "e32d3e11dcd5ef68",
                "7b122477b3bee089"
            ]
        ]
    },
    {
        "id": "f2c617e9e5899561",
        "type": "change",
        "z": "7e5a6b2aa84813c3",
        "name": "change to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 220,
        "wires": [
            [
                "e32d3e11dcd5ef68",
                "7b122477b3bee089"
            ]
        ]
    }
]